<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072369607324-0e0k7pn3nqk6suq97jnegljp3k0161o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072369607324-0e0k7pn3nqk6suq97jnegljp3k0161o5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072369607324-hp2vujt95ipkft4n348a96ndbiocqrdo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDI7KTuPhqGiIkX5pznUDYkToUmIhznqf8</string>
	<key>GCM_SENDER_ID</key>
	<string>1072369607324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forwardChainingManApp</string>
	<key>PROJECT_ID</key>
	<string>sirekomendasi-dc7de</string>
	<key>STORAGE_BUCKET</key>
	<string>sirekomendasi-dc7de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072369607324:ios:1d8cb1dbadb289ff6f4359</string>
</dict>
</plist>